services:
  mysql:
    image: mysql:8.0
    container_name: mysql_auth
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: authdb
      MYSQL_USER: authuser
      MYSQL_PASSWORD: authpass
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d

  api:
    build: .
    container_name: ecommerce
    restart: always
    depends_on:
      - mysql
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=server=mysql;port=3306;database=authdb;user=authuser;password=authpass
      - Jwt__Key=ClaveSuperSecretaMuyLarga_2025_ChangeThisToAStrong32+CharKey
      - Jwt__Issuer=AuthApi
      - Jwt__Audience=AuthApiUsers
      - Jwt__ExpiresMinutes=60
    ports:
      - "8080:8080"

volumes:
  mysql_data:
